.card{
    width:159px;
    height:232px;
    gap: 6px;
    color:var(--primary-text-color);
}

.card_detail{
    width: 159px;
    height: 205px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid white;
    background-color: white;

}

.card_detail_img {
    width: 159px;
    height: 170px;
    border-radius: 10px, 10px, 0px, 0px;
}

.card_detail_follow {
    
    
}