:root {
  --primary-color:#34C94B;
  --primary-bg-color:#121212;
  --primary-text-color:#FFFFFF;
}


body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
