:root {
  --primary-color:#34C94B;
  --primary-bg-color:#121212;
  --primary-text-color:#FFFFFF;
  --swiper-theme-color: #34C94B !important;

}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}
